* {
    font-family: Inconsolata;
    line-height: 1.35;
}

header {
    text-align: center;
    padding-top: 20px;
    border-bottom: 3px solid #ebebeb;
}

#mainSection {
    padding-left: 15%;
    padding-right: 15%;
}

/* underlining end of paragraph */
#lineBreak {
    border-bottom: 2px solid #ebebeb;
    padding-bottom: 10px;
}

/* hyperlinks */
#mainSection #link {
    text-decoration: none;
    color: rgb(38, 20, 235);
}

#mainSection #link:hover {
    box-shadow: 0 0 5px rgb(44, 47, 193);
    font-weight: bold;
}

/* table */
table {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 7px;
  text-align: center;
}

th {
  border: 1px solid black;
  padding: 7px;
}

/* register button */
#button {
  padding: 0px;
  background-color: green;
}

#button input {
  background-color: green;
  color: white;
  border: 0px;
  font-size:medium;
  cursor:pointer;
}

#button input:hover {
  box-shadow: 0 0 5px green;
  font-weight: bold;
}

/* request button */
#reqButton {
  padding: 0px;
  background-color: black;
}

#reqButton input {
  background-color: black;
  color: white;
  border: 0px;
  font-size:medium;
  cursor:pointer;
}

#reqButton input:hover {
  box-shadow: 0 0 5px green;
  font-weight: bold;
}

#fullyBooked {
  background-color: red;
  color: white;
  font-weight: bold;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
  
/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.pageHighlight {
  background-color: #00bfff;
  color: white;
}

#socials {
  position: absolute;
  bottom: 30px;
}

#popupimage {
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: none;
}

a:hover #popupimage {
  display: flex
}

#popuplink {
  text-decoration: none;
  color: red;
}

/* video container */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.video-category {
    margin-top: 40px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

.category-title {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    font-size: 30px;
}